<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a href="#" class="navbar-brand">Raspored</a>


        <ul class="navbar-nav">
            <ng-template [ngIf]="loginService.isUserLoggedIn()">
                <li class="nav-item"><a routerLink="/rasporedi" routerLinkActive="active" class="nav-link">Rasporedi</a></li>
                <li class="nav-item"><a routerLink="/predmeti" routerLinkActive="active" class="nav-link">Predmeti</a></li>
                <li class="nav-item"><a routerLink="/profesori" routerLinkActive="active" class="nav-link">Profesori</a></li>
                <li class="nav-item"><a routerLink="/ucionice" routerLinkActive="active" class="nav-link">Učionice</a></li>
                <li class="nav-item"><a routerLink="/login" (click)="logout()" class="nav-link">Log out</a></li>
            </ng-template>
            <ng-template [ngIf]="!loginService.isUserLoggedIn()">
                <li class="nav-item"><a routerLink="/login" routerLinkActive="active" class="nav-link">Log in</a></li>
            </ng-template>
        </ul>

</nav>