<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="py-3">
            <h1 class="text-center">Rasporedi</h1>
        </div>
        <div *ngIf="errorMessage !== null" class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" (click)="closeErrorMessage()">&times;</button>
            {{errorMessage}}
        </div>
        
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-primary m-1" (click)="exportAll()">Izvezi sve rasporede kao PDF</button>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                (rasporedi će biti export-ovani u redu u kojem su prikazani)
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-8">
                <button type="button" class="btn btn-success m-1 float-right" (click)="openAddModal()">Dodaj raspored</button>
            </div>
        </div>
        <div class="row border-top border-bottom mt-3 text-center">
            <div class="col-3 font-weight-bold">
                Naziv
            </div>
            <div class="col-2 font-weight-bold">
                Godina
            </div>
            <div class="col-2 font-weight-bold">
                Smer
            </div>
            <div class="col-2 font-weight-bold">
                Prioritet
            </div>
            <div class="col-3 font-weight-bold">

            </div>
        </div>
        <div class="row text-center" *ngFor="let schedule of schedules; let i = index" [ngClass]="{'bg-light': i % 2 == 1}">
            <form class="w-100" (ngSubmit)="update(form)" #form="ngForm">
                <div class="row">
                <div class="col-3 my-auto">
                    <span *ngIf="selectedSchedule == null || selectedSchedule.rasporedID != schedule.rasporedID">
                        {{schedule.naziv}}
                    </span>
                    <input value="adsa" [hidden]="selectedSchedule == null || selectedSchedule.rasporedID != schedule.rasporedID"
                    type="text" class="form-control" id="name" name="name" ngModel>
                </div>
                <div class="col-2 my-auto">
                    <span *ngIf="selectedSchedule == null || selectedSchedule.rasporedID != schedule.rasporedID">
                        {{schedule.godina}}.
                    </span>
                    <select [hidden]="selectedSchedule == null || selectedSchedule.rasporedID != schedule.rasporedID"
                     name="year" class="form-control" id="year" ngModel>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div class="col-2 my-auto">
                    <span *ngIf="selectedSchedule == null || selectedSchedule.rasporedID != schedule.rasporedID">
                        {{schedule.smer}}
                    </span>
                    <input [hidden]="selectedSchedule == null || selectedSchedule.rasporedID != schedule.rasporedID"
                     type="text" class="form-control" id="course" name="course" ngModel>
                </div>
                <div class="col-2 my-auto">
                    <button type="button" class="btn btn-primary m-1" (click)="up(schedule)">&uarr;</button>
                    <button type="button" class="btn btn-primary m-1" (click)="down(schedule)">&darr;</button>
                </div>
                <div class="col-3 my-auto">
                    <span *ngIf="selectedSchedule == null || selectedSchedule.rasporedID != schedule.rasporedID">
                        <button type="button" class="btn btn-primary m-1" (click)="openSchedule(schedule)">Otvori</button>
                        <button type="button" class="btn btn-primary m-1" (click)="onRowSelect(schedule, form)">Izmeni</button>
                        <button type="button" class="btn btn-primary m-1" (click)="export(schedule)">PDF</button>
                    </span>
                    <span *ngIf="selectedSchedule != null && selectedSchedule.rasporedID == schedule.rasporedID">
                        <button type="submit" class="btn btn-primary m-1">Sačuvaj</button>
                        <button type="button" class="btn btn-danger m-1" (click)="delete(schedule)">Obriši</button>
                    </span>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>